<h2>Edytujesz {{client.name}} (<small>{{client.id}}</small>)</h2>



<form method="PUT" action="/client/{{client.id}}?_method=PUT">

    <label >
        <p>
            E-mail
        </p>
        <p>
            <input type="email" name="mail" value="{{client.mail}}">
        </p>
    </label>
    <label >
        <p>
            Imie
        </p>
        <p>
            <input type="text" name="name" value="{{client.name}}">
        </p>
    </label>

    <label >
        <p>
            Data nastepnego kontaktu
        </p>
        <p>
            <input type="date" name="nextContactAt" value="{{client.nextContactAt}}">
        </p>
    </label>

    <label >
        <p>
            Notatki
        </p>
        <p>
            <textarea name="notes">{{client.notes}}</textarea>
        </p>
    </label>

    <p>
        <button type="submit">Zapisz</button>
    </p>


</form>
